.appContainer {
  widows: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.rangeText {
  text-align: center;
}
.rangeSlider {
  margin: 30px auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  padding: 15px;
}
header {
  text-align: center;
}
header h4 {
  font-weight: 300;
}
thead tr {
  border-bottom: 2px solid #dee2e6;
}
tr {
  border-top: 1px solid #dee2e6;
}

td,
th {
  text-align: left;
  padding: 0.75rem 1.5rem;
}

tbody tr:hover {
  background-color: #e7e7e7;
}
